body { margin: 0; padding: 0; }
.card-body .maps{
    height: 50vh;
}
#map { height: 100%; width: 100%; border-radius: 10px; }

.marker-odp {
background-image: url("https://res.cloudinary.com/ddafozvoe/image/upload/v1744872939/erasebg-transformed_awfowk.png");
background-size: contain;
background-repeat: no-repeat;
background-position: center;
width: 50px;
height: 50px;
cursor: pointer;
}

.marker-calonpelanggan {
    background-image: url("https://res.cloudinary.com/ddafozvoe/image/upload/v1744872940/calonpelanggan-marker_lrvlpg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    }

.mapboxgl-popup {
max-width: 200px;
}

.mapboxgl-popup-content {
text-align: center;
font-family: 'Open Sans', sans-serif;
}